{
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": [
        "*.sol"
      ],
      "options": {
        "bracketSpacing": false,
        "explicitTypes": "always",
        "printWidth": 120,
        "semi": true,
        "singleQuote": false,
        "tabWidth": 4,
        "trailingComma": "all",
        "useTabs": false
      }
    }
  ]
}
